* {
}

body {
    width: 100vw;
    margin: auto;
    color: #FFFFFF;
    overflow: hidden;
}

.deer-1 {
    background-image: url(images/deer-1.jpg);
}

.deer-2 {
    background-image: url(images/deer-2.jpg);
}

.deer-3 {
    background-image: url(images/deer-3.jpg);
}

.deer-4 {
    background-image: url(images/deer-4.jpg);
}

.square {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.zebra-1 {
    background-image: url(images/zebra-1.jpg);
}

.zebra-2 {
    background-image: url(images/zebra-2.jpg);
}

.zebra-3 {
    background-image: url(images/zebra-3.jpg);
}

.zebra-4 {
    background-image: url(images/zebra-4.jpg);
}

.zebra-5 {
    background-image: url(images/zebra-5.jpg);
}

.zebra-6 {
    background-image: url(images/zebra-6.jpg);
}

.zebra-7 {
    background-image: url(images/zebra-7.jpg);
}

.zebra-8 {
    background-image: url(images/zebra-8.jpg);
}