* {
}

body {
    width: 100vw;
    margin: auto;
    color: #FFFFFF;
    overflow: hidden;
}

.deer-1 {
    background-image: url(images/deer-1.jpg);
}

.deer-2 {
    background-image: url(images/deer-2.jpg);
}

.deer-3 {
    background-image: url(images/deer-3.jpg);
}

.deer-4 {
    background-image: url(images/deer-4.jpg);
}

.map-1-1 {
    background-image: url(images/map/image1x1.jpeg);
}

.map-1-2 {
    background-image: url(images/map/image1x2.jpeg);
}

.map-1-3 {
    background-image: url(images/map/image1x3.jpeg);
}

.map-1-4 {
    background-image: url(images/map/image1x4.jpeg);
}

.map-1-5 {
    background-image: url(images/map/image1x5.jpeg);
}

.map-1-6 {
    background-image: url(images/map/image1x6.jpeg);
}

.map-2-1 {
    background-image: url(images/map/image2x1.jpeg);
}

.map-2-2 {
    background-image: url(images/map/image2x2.jpeg);
}

.map-2-3 {
    background-image: url(images/map/image2x3.jpeg);
}

.map-2-4 {
    background-image: url(images/map/image2x4.jpeg);
}

.map-2-5 {
    background-image: url(images/map/image2x5.jpeg);
}

.map-2-6 {
    background-image: url(images/map/image2x6.jpeg);
}

.map-3-1 {
    background-image: url(images/map/image3x1.jpeg);
}

.map-3-2 {
    background-image: url(images/map/image3x2.jpeg);
}

.map-3-3 {
    background-image: url(images/map/image3x3.jpeg);
}

.map-3-4 {
    background-image: url(images/map/image3x4.jpeg);
}

.map-3-5 {
    background-image: url(images/map/image3x5.jpeg);
}

.map-3-6 {
    background-image: url(images/map/image3x6.jpeg);
}

.map-4-1 {
    background-image: url(images/map/image4x1.jpeg);
}

.map-4-2 {
    background-image: url(images/map/image4x2.jpeg);
}

.map-4-3 {
    background-image: url(images/map/image4x3.jpeg);
}

.map-4-4 {
    background-image: url(images/map/image4x4.jpeg);
}

.map-4-5 {
    background-image: url(images/map/image4x5.jpeg);
}

.map-4-6 {
    background-image: url(images/map/image4x6.jpeg);
}

.map-5-1 {
    background-image: url(images/map/image5x1.jpeg);
}

.map-5-2 {
    background-image: url(images/map/image5x2.jpeg);
}

.map-5-3 {
    background-image: url(images/map/image5x3.jpeg);
}

.map-5-4 {
    background-image: url(images/map/image5x4.jpeg);
}

.map-5-5 {
    background-image: url(images/map/image5x5.jpeg);
}

.map-5-6 {
    background-image: url(images/map/image5x6.jpeg);
}

.map-6-1 {
    background-image: url(images/map/image6x1.jpeg);
}

.map-6-2 {
    background-image: url(images/map/image6x2.jpeg);
}

.map-6-3 {
    background-image: url(images/map/image6x3.jpeg);
}

.map-6-4 {
    background-image: url(images/map/image6x4.jpeg);
}

.map-6-5 {
    background-image: url(images/map/image6x5.jpeg);
}

.map-6-6 {
    background-image: url(images/map/image6x6.jpeg);
}

.map-7-1 {
    background-image: url(images/map/image7x1.jpeg);
}

.map-7-2 {
    background-image: url(images/map/image7x2.jpeg);
}

.map-7-3 {
    background-image: url(images/map/image7x3.jpeg);
}

.map-7-4 {
    background-image: url(images/map/image7x4.jpeg);
}

.map-7-5 {
    background-image: url(images/map/image7x5.jpeg);
}

.map-7-6 {
    background-image: url(images/map/image7x6.jpeg);
}

.map-8-1 {
    background-image: url(images/map/image8x1.jpeg);
}

.map-8-2 {
    background-image: url(images/map/image8x2.jpeg);
}

.map-8-3 {
    background-image: url(images/map/image8x3.jpeg);
}

.map-8-4 {
    background-image: url(images/map/image8x4.jpeg);
}

.map-8-5 {
    background-image: url(images/map/image8x5.jpeg);
}

.map-8-6 {
    background-image: url(images/map/image8x6.jpeg);
}

.square {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.zebra-1 {
    background-image: url(images/zebra-1.jpg);
}

.zebra-2 {
    background-image: url(images/zebra-2.jpg);
}

.zebra-3 {
    background-image: url(images/zebra-3.jpg);
}

.zebra-4 {
    background-image: url(images/zebra-4.jpg);
}

.zebra-5 {
    background-image: url(images/zebra-5.jpg);
}

.zebra-6 {
    background-image: url(images/zebra-6.jpg);
}

.zebra-7 {
    background-image: url(images/zebra-7.jpg);
}

.zebra-8 {
    background-image: url(images/zebra-8.jpg);
}