.w2-1-1 {
    background-image: url(../images/work2/image1x1.jpg);
}

.w2-1-2 {
    background-image: url(../images/work2/image1x2.jpg);
}

.w2-1-3 {
    background-image: url(../images/work2/image1x3.jpg);
}

.w2-1-4 {
    background-image: url(../images/work2/image1x4.jpg);
}

.w2-1-5 {
    background-image: url(../images/work2/image1x5.jpg);
}

.w2-1-6 {
    background-image: url(../images/work2/image1x6.jpg);
}

.w2-1-7 {
    background-image: url(../images/work2/image1x7.jpg);
}

.w2-1-8 {
    background-image: url(../images/work2/image1x8.jpg);
}

.w2-1-9 {
    background-image: url(../images/work2/image1x9.jpg);
}

.w2-2-1 {
    background-image: url(../images/work2/image2x1.jpg);
}

.w2-2-2 {
    background-image: url(../images/work2/image2x2.jpg);
}

.w2-2-3 {
    background-image: url(../images/work2/image2x3.jpg);
}

.w2-2-4 {
    background-image: url(../images/work2/image2x4.jpg);
}

.w2-2-5 {
    background-image: url(../images/work2/image2x5.jpg);
}

.w2-2-6 {
    background-image: url(../images/work2/image2x6.jpg);
}

.w2-2-7 {
    background-image: url(../images/work2/image2x7.jpg);
}

.w2-2-8 {
    background-image: url(../images/work2/image2x8.jpg);
}

.w2-2-9 {
    background-image: url(../images/work2/image2x9.jpg);
}

.w2-3-1 {
    background-image: url(../images/work2/image3x1.jpg);
}

.w2-3-2 {
    background-image: url(../images/work2/image3x2.jpg);
}

.w2-3-3 {
    background-image: url(../images/work2/image3x3.jpg);
}

.w2-3-4 {
    background-image: url(../images/work2/image3x4.jpg);
}

.w2-3-5 {
    background-image: url(../images/work2/image3x5.jpg);
}

.w2-3-6 {
    background-image: url(../images/work2/image3x6.jpg);
}

.w2-3-7 {
    background-image: url(../images/work2/image3x7.jpg);
}

.w2-3-8 {
    background-image: url(../images/work2/image3x8.jpg);
}

.w2-3-9 {
    background-image: url(../images/work2/image3x9.jpg);
}