.carts-1-1 {
    background-image: url(../images/carts/image1x1.jpg);
}

.carts-1-2 {
    background-image: url(../images/carts/image1x2.jpg);
}

.carts-1-3 {
    background-image: url(../images/carts/image1x3.jpg);
}

.carts-2-1 {
    background-image: url(../images/carts/image2x1.jpg);
}

.carts-2-2 {
    background-image: url(../images/carts/image2x2.jpg);
}

.carts-2-3 {
    background-image: url(../images/carts/image2x3.jpg);
}

.carts-3-1 {
    background-image: url(../images/carts/image3x1.jpg);
}

.carts-3-2 {
    background-image: url(../images/carts/image3x2.jpg);
}

.carts-3-3 {
    background-image: url(../images/carts/image3x3.jpg);
}